<div>
  <label>Exercise</label>
  <select name="exercise">
    <option value="<%= exercise._id %>"><%= exercise.name %></option>
  </select>
</div>
<!--
<div>
  <label>Sets</label>
  <input type="text" placeholder="3" name="<%= exercise._id %>_sets">
</div>
<div>
  <label>Reps</label>
  <input type="text" placeholder="10" name="<%= exercise._id %>_reps">
</div>
-->
