<li><a href="/exercise/detail/<%= exercise._id %>"><%= exercise.name %></a></li>
<li>
  <a href="/exercise/edit/<%= exercise._id %>">Edit</a>
  <a href="/exercise/delete/<%= exercise._id %>">Delete</a>
</li>
