<!--<form method="get" action="/exercise/set/edit/<%= exercise._id %>">
  <button type="submit">Edit</button>
</form>-->
<form method="post" action="/exercise/set/delete/<%= exercise._id %>/<%= set._id %>">
  <button class="btn btn-danger" type="submit">Delete Set</button>
</form>
