<li class="list-group-item">
  <a href="/program/detail/<%= program._id %>"><%= program.name %></a>
  <!--
  <form method="get" action="/program/edit/<%= program._id %>">
    <button class="btn btn-warning" type="submit">Edit</button>
  </form>
  <form method="post" action="/program/delete/<%= program._id %>">
    <button class="btn btn-danger" type="submit">Delete</button>
  </form>
  -->
</li>
