<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Make Gains</title>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
  <script src="/bower_components/chart.js/dist/Chart.min.js"></script>
  <!--<script src="https://use.fontawesome.com/069ba3895a.js"></script>-->
  <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
  <link href="/favicon.ico" rel="icon" size="16x16" type="image/jpeg">
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
  <script src="/javascript/main.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <% if (user) { %>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/user">Home</a></li>
        <li><a href="/exercise/new">New Exercise</a></li>
        <li><a href="/program/new">New Program</a></li>
        <li><a href="/workout/log">New Workout</a></li>
      </ul>
      <% } else { %>
      <p class="navbar-text">Sign in to add exercises and log workouts</p>
      <% } %>
      <% if (user) { %>
      <ul class="nav navbar-nav navbar-right no-margin">
        <li><p class="navbar-text">Welcome, <%= user.name %>.</p></li>
        <li><a href="/user/logout">Sign out</a></li>
      </ul>
      <% } else { %>
      <form class="navbar-form navbar-right no-margin" method="post" action="/user/signin">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Username" name="username">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" placeholder="Password" name="password">
        </div>
        <button class="btn btn-default" type="submit">Sign in</button>
      </form>
      <% } %>
    </div>
  </nav>

  <main>
