.bg-light {
  background-color: $light;
  color: $dark;
}

.bg-dark {
  background-color: $dark;
  color: $white;
}

.bg-flair {
  background-color: $red;
  color: $white;
}

.right-buffer {
  margin-right: 1rem;
}

.no-margin {
  margin-right: 0 !important;
}

.fill-top {
  margin-top: -20px !important;
}
