// generic site colors
$white: #ffffff;
$light: #eeeeee;
$red: #a6211d;
$dark: #333333;
$black: #000000;

// typography colors
$darkTextDarkBackground: #c9c9c9;
$darkTextDarkBackgroundHover: #f2f2f2;

// colors for buttons
$warn: #cc7a00;
$warnBorder: #995c00;
$warnDarken: #ff9900;
$warnBorderDarken: #804d00;
$danger: #d54444;
$dangerBorder: #981b1b;
$dangerDarken: #d92626;
$dangerBorderDarken: #a11212;
$primary: #00b33c;
$primaryBorder: #006622;
$primaryDarken: #1aff66;
$primaryBorderDarken: #004d1a;
$default: #eeeeee;
$defaultBorder: #bfbfbf;
$defaultDarken: #cccccc;
$defaultBorderDarken: #a6a6a6;
