html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 3rem;
  min-height: 3rem;
}

main {
  flex: 1 1 auto;
}

footer {
  height: 3rem;
  min-height: 3rem;
}
