html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {

}

main {
  flex: 1 1 auto;
}

footer {
  background-color: $dark;
  color: $darkTextDarkBackground;

  a {
    color: $darkTextDarkBackground;
    text-decoration: underline;
    &:hover {
      color: $darkTextDarkBackgroundHover;
      text-decoration: none;
    }
    &:focus {
      color: $darkTextDarkBackgroundHover;
      text-decoration: underline;
    }
  }
}
