<% include partials/header %>

<div>
  <h3>Create exercise</h3>
</div>
<form method="post" action="/exercise/new">
  <div>
    <label>Name</label>
    <input type="text" placeholder="Name" name="name">
  </div>
  <div>
    <label>Description</label>
    <input type="text" placeholder="Description" name="description">
  </div>
  <div>
    <input type="submit" value="Create an exercise!"/>
  </div>
</form>

<h3>Your Exercises</h3>
<% if (!exercises.length < 1) { %>
  <ul>
  <% exercises.forEach(function(exercise) { %>
    <%- include('components/exercise-list-view', {exercise: exercise}); %>
  <% }); %>
  </ul>
<% } %>

<% include partials/footer %>
