<% include partials/header %>

<div>
  <h3>Edit <%= exercise.name %></h3>
</div>
<form method="post" action="/exercise/edit/<%= exercise._id %>">
  <div>
    <label>Name</label>
    <input type="text" value="<%= exercise.name %>" name="name">
  </div>
  <div>
    <label>Description</label>
    <input type="text" value="<%= exercise.description %>" name="description">
  </div>
  <div>
    <input type="submit" value="Apply update"/>
  </div>
</form>

<% include partials/footer %>
