<% include partials/header %>

<div class="jumbotron bg-flair text-center fill-top">
  <h1>Are you ready to make gains?</h1>
</div>

<% include partials/flashMessages %>

<div class="container text-center">
  <h2 class="page-header text-center">What is 'Makegains'</h2>
  <div class="row">
    <div class="col-md-4">
      <h3>Push yourself harder every program!</h3>
      <p>Sometimes getting to the gym can become so habitual that the program itself becomes a habit and we might not push ourselves as hard. Makegains will give you data during your program about your previous performance for a lift in case you're habitually lifting the same weight every time. Progressive overload!</p>
    </div>
    <div class="col-md-4">
      <h3>In-depth historical progress tracking</h3>
      <p>Makegains records your weight and reps and maps it to an internal Strength Index. You be able to not just see a chart of your progress, but you can break it down any way you want. Want to see what exercise you've done the most single reps of ever? No problem.</p>
    </div>
    <div class="col-md-4">
      <h3>A user friendly program log, for the new or seasoned lifter alike.</h3>
      <p>If you're an experienced lifter you probably know whatever program you're doing in your head. But what if the gym is <em>really</em> busy and you can't get that rack you need? A freeform program logging system lets you effortlessly log an alternate exercise so you can spend <em>more</em> time lifting and <em>less</em> time fiddling with your phone subbing out exercises in your preset program.</p>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="page-header text-center">Sounds great! Let's get started!</h2>
  <% include partials/authenticate %>
</div>

<% include partials/footer %>
