<% include partials/header %>

<% include partials/flashMessages %>

<a href="/user/logout">Log out</a>

<div class="container">
  <h2 class="page-header text-center">Wecome, <%= user.name %>.</h2>
  <div class="row">
    <div class="col-md-6">
      <h3>Your Exercises</h3>
      <% if (!exercises.length < 1) { %>
        <ul class="list-group">
        <% exercises.forEach(function(exercise) { %>
          <%- include('components/exercise-list-view', {exercise: exercise}); %>
        <% }); %>
        </ul>
      <% } else { %>
        <p>You have no exercises, <a href="/exercise/new">create one now!</a></p>
      <% } %>
    </div>
    <div class="col-md-6">
      <h3>Your Programs</h3>
      <% if (!programs.length < 1) { %>
        <ul class="list-group">
        <% programs.forEach(function(program) { %>
          <%- include('components/program-list-view', {program: program}); %>
        <% }); %>
        </ul>
      <% } else { %>
        <p>You have no programs, <a href="/program/new">create one now!</a></p>
      <% } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="text-center">Your workout history</h3>
      <% if (!workouts.length < 1) { %>
        <ul class="list-group">
        <% workouts.forEach(function(workout) { %>
          <%- include('components/workout-list-view', {workout: workout}); %>
        <% }); %>
        </ul>
      <% } else { %>
        <p>You have no completed workouts, get swole</p>
      <% } %>
    </div>
  </div>
</div>

<a href="/exercise/new">Create an exercise</a>
<a href="/program/new">Create a program</a>
<a href="/workout/log">Log a workout</a>

<% include partials/footer %>
