<% include partials/header %>

<% include partials/flashMessages %>

<div class="container">
  <h2 class="page-header text-center">Welcome, <%= user.name %>.</h2>
  <div class="row">
    <div id="exercises" class="col-md-6">
      <h3 class="text-center">Your Exercises | <a href="/exercise/new">New</a></h3>
      <div class="loading">
        <p class="text-center"><span class="glyphicon glyphicon-repeat spin" aria-hidden="true"></span></p>
      </div>
    </div>
    <div id="programs" class="col-md-6">
      <h3 class="text-center">Your Programs | <a href="/program/new">New</a></h3>
      <div class="loading">
        <p class="text-center"><span class="glyphicon glyphicon-repeat spin" aria-hidden="true"></span></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="workouts" class="col-md-8 col-md-offset-2">
      <h3 class="text-center">Your workout history | <a href="/workout/log">New</a></h3>
      <div class="loading">
        <p class="text-center"><span class="glyphicon glyphicon-repeat spin" aria-hidden="true"></span></p>
      </div>
    </div>
  </div>
</div>

<!--<script src="/javascript/DEV.js"></script>-->

<% include partials/footer %>
