<% include partials/header %>

<% include partials/flashMessages %>

<h2>Profile page for <%= user.name %></h2>

<h3>Your Exercises</h3>
<% if (!exercises.length < 1) { %>
  <ul>
  <% exercises.forEach(function(exercise) { %>
    <%- include('components/exercise-list-view', {exercise: exercise}); %>
  <% }); %>
  </ul>
<% } else { %>
  <p>You have no exercises, <a href="/exercise/new">create one now!</a></p>
<% } %>

<h3>Your Workouts</h3>
<% if (!workouts.length < 1) { %>
  <ul>
  <% workouts.forEach(function(workout) { %>
    <%- include('components/workout-list-view', {workout: workout}); %>
  <% }); %>
  </ul>
<% } else { %>
  <p>You have no workouts, <a href="/workout/new">create one now!</a></p>
<% } %>

<a href="/exercise/new">Create an exercise</a>
<a href="/workout/new">Create a workout</a>
<a href="/workout/log">Log a workout</a>

<% include partials/footer %>
