<div>
  <h2>Workout Component html</h2>
  <div>
    <h3>Create workout</h3>
  </div>
  <form method="post" action="/workout/new">
    <div>
      <label>Name</label>
      <input type="text" placeholder="Name" name="name">
    </div>
    <div>
      <label>Description</label>
      <input type="text" placeholder="Description" name="description">
    </div>
    <div>
      <label>Exercise</label>
      <input type="text" placeholder="Bench Press" name="exercise">
    </div>
    <div>
      <input type="submit" value="Create a workout!"/>
    </div>
  </form>
</div>
